<header id="header">
  <div>
    <nav id='nav'>
      <ul>
        <li>
          <span class="glyphicon glyphicon-home"></span>
          <%= link_to "HOME", '#logo', title: 'Next Section'%></li>
        <li>
          <span class="glyphicon glyphicon-music"></span>
          <%= link_to "MUSIC LESSONS", '#slide2', title: 'Next Section'%></li>
        <li>
          <span class="glyphicon glyphicon-music"></span>
          <%= link_to "KINDERMUSIC", '#slide3', title: 'Next Section'%></li>
        <li>
          <span class="glyphicon glyphicon-volume-up"></span>
          <%= link_to "TESTIMONIALS", '#slide4', title: 'Next Section'%></li>
        <li>
          <span class="glyphicon glyphicon-user"></span>
          <%= link_to "OUR STAFF", '#slide5', title: 'Next Section'%></li>
        <li>
          <span class="glyphicon glyphicon-earphone"></span>
          <%= link_to "CONTACT US", '#slide6', title: 'Next Section'%></li>
        <li id='logo' >
          <%= image_tag 'small_logo.jpg', alt: "Bucktown Music", id: 'logo' %></li>
      </ul>
    </nav>
  </div>  
</header>